<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<h1 style="margin-left: 100px; margin-top: 30px;">Create USER</h1>
<form [formGroup]="CreateForm" (ngSubmit)="createUser()" style="margin-right: 5%; margin-left: 5%;">
    <div class="row" style="margin-left: 20px;">
        <div class="form-group col-md-3" style="margin-top: 20px; margin-right: 20px;">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="email" formControlName="email">
        </div>
        <div class="form-group col-md-2" style="margin-top: 20px; margin-right: 20px;">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" placeholder="nombre" formControlName="name">
        </div>
        <div class="form-group col-md-2" style="margin-top: 20px; margin-right: 20px;">
            <label for="last_name">Apilldo</label>
            <input type="text" class="form-control" id="last_name" placeholder="apellido" formControlName="last_name">
        </div>
        <div class="form-group col-md-2" style="margin-top: 20px; margin-right: 20px;">
            <label for="age">Edad</label>
            <input type="number" class="form-control" id="age" placeholder="Edad" formControlName="age">
        </div>
        <div class="form-group col-md-2" style="margin-top: 20px; margin-right: 20px;">
            <label for="quota">Quota</label>
            <input type="number" class="form-control" id="quota" placeholder="quota" formControlName="quota">
        </div>
    </div>
    <div class="row" style="margin-left: 20px; text-align: center;">
        <div *ngIf="email.invalid" class="alert alert-danger col-md-3" style="margin-top: 35px;margin-right: 20px;">El campo Email es
            obligatorio</div>
        <div *ngIf="name.invalid" class="alert alert-danger col-md-2" style="margin-top: 35px; margin-right: 20px;">El
            campo Nombre es obligatorio
        </div>
        <div *ngIf="last_name.invalid" class="alert alert-danger col-md-2" style="margin-top: 35px; margin-right: 20px;">El campo Apellido es
            obligatorio
        </div>
        <div *ngIf="age.invalid" class="alert alert-danger col-md-2" style="margin-top: 35px; margin-right: 20px;">El
            campo Edad es obligatorio
        </div>
        <div *ngIf="quota.invalid" class="alert alert-danger col-md-2" style="margin-top: 35px; margin-right: 20px;">El
            campo Quota es obligatorio
        </div>
    </div>
    <button type="submit" class="btn btn-primary"
        style="margin-top: 20px; margin-left: 30px; margin-bottom: 20px;" >Enviar</button>
    </form>

    <h1 style="margin-left: 100px; margin-top: 30px;">Update USER</h1>
<form [formGroup]="CreateForm" (ngSubmit)="onUpdateUser()" style="margin-right: 5%; margin-left: 5%;">
    <div class="row" style="margin-left: 20px;">
        <div class="form-group col-md-1" style="margin-top: 20px; margin-right: 20px;">
            <label for="number">Id</label>
            <input type="id" class="form-control" id="id" placeholder="Id" formControlName="id">
        </div>
        <div class="form-group col-md-3" style="margin-top: 20px; margin-right: 20px;">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="email" formControlName="email">
        </div>
        <div class="form-group col-md-2" style="margin-top: 20px; margin-right: 20px;">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" placeholder="nombre" formControlName="name">
        </div>
        <div class="form-group col-md-2" style="margin-top: 20px; margin-right: 20px;">
            <label for="last_name">Apilldo</label>
            <input type="text" class="form-control" id="last_name" placeholder="apellido" formControlName="last_name">
        </div>
        <div class="form-group col-md-2" style="margin-top: 20px; margin-right: 20px;">
            <label for="age">Edad</label>
            <input type="number" class="form-control" id="age" placeholder="Edad" formControlName="age">
        </div>
        <div class="form-group col-md-2" style="margin-top: 20px; margin-right: 20px;">
            <label for="quota">Quota</label>
            <input type="number" class="form-control" id="quota" placeholder="quota" formControlName="quota">
        </div>
    </div>
    <div class="row" style="margin-left: 20px; text-align: center;">
        <div *ngIf="id.invalid" class="alert alert-danger col-md-1" style="margin-top: 35px;margin-right: 20px;">El campo Id es
            obligatorio</div>
        <div *ngIf="email.invalid" class="alert alert-danger col-md-3" style="margin-top: 35px;margin-right: 20px;">El campo Email es
            obligatorio</div>
        <div *ngIf="name.invalid" class="alert alert-danger col-md-2" style="margin-top: 35px; margin-right: 20px;">El
            campo Nombre es obligatorio
        </div>
        <div *ngIf="(last_name.value == '' || last_name.errors?.['minlenght'] || last_name.errors?.['maxlenght'])" class="alert alert-danger col-md-2" style="margin-top: 35px; margin-right: 20px;">El campo Apellido es
            obligatorio y el minimo de caracteres son 3 y maximo 20
        </div>
        <div *ngIf="age.invalid" class="alert alert-danger col-md-2" style="margin-top: 35px; margin-right: 20px;">El
            campo Edad es obligatorio
        </div>
        <div *ngIf="quota.invalid" class="alert alert-danger col-md-2" style="margin-top: 35px; margin-right: 20px;">El
            campo Quota es obligatorio
        </div>
    </div>
    <button type="submit" class="btn btn-primary"
        style="margin-top: 20px; margin-left: 30px; margin-bottom: 20px;" >Enviar</button>
    </form>
    <h1 style="margin-left: 100px; margin-top: 30px;">Delete USER</h1>
    <form [formGroup]="CreateForm" (ngSubmit)="onDelete()" style="margin-right: 5%; margin-left: 5%; margin-top: 10px;">
        <div class="row" style="margin-left: 20px;">
            <div class="form-group col-md-1" style="margin-top: 20px; margin-right: 20px;">
                <label for="number">Id</label>
                <input type="id" class="form-control" id="id" placeholder="Id" formControlName="id">
            </div>
        </div>
        <div class="row" style="margin-left: 20px; text-align: center;">
            <div *ngIf="id.invalid" class="alert alert-danger col-md-1" style="margin-top: 35px;margin-right: 20px;">El campo Id es
                obligatorio</div>
        </div>
        <button type="submit" class="btn btn-primary"
            style="margin-top: 20px; margin-left: 30px; margin-bottom: 20px;" >Enviar</button>
        </form>
    <h1 style="margin-top: 30px;">Usuarios registrados</h1>
    <table class="table table-striped table-bordered" style="margin-top: 30px; background-color: rgba(255, 255, 255, 0.3);">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Edad</th>
            <th>Quota</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of user">
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.name }}</td>
            <td>{{ usuario.last_name }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.age }}</td>
            <td>{{ usuario.quota }}</td>
          </tr>
        </tbody>
      </table>

